.column-left-50 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  padding: 6rem 0;
}
.two-column-flex-container > .column-right-50 {
  display: flex;
}
.column-left-50 h1,
h2 {
  margin: 0 0 2rem 0;
}
/* label*/
label {
  cursor: pointer;
  color: var(--text-white);
  font-size: var(--h5-size);
  font-weight: 400;
  display: block;
  padding: 0px;
  margin: 30px 0 10px 0;
  display: flex;
}

.btn-log-in,
.btn-sign-up {
  margin-left: 2rem;
  padding: 2rem;
  display: block;
  align-self: center;
  margin-bottom: 2rem;
}

.background-img {
  width: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  margin-right: 2rem;
}
.log-in-img {
  background-image: url('https://images.unsplash.com/photo-1611264327630-8090373c8cef?q=80&w=2160&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.sign-up-img {
  background-image: url('https://images.unsplash.com/photo-1607000975574-0b425df6975a?q=80&w=3348&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.btn-link {
  color: var(--text-green);
  font-size: var(--h4-size);
  /* align-self: flex-end; */
}
