/* -------------two column flex layout ------------- */

.two-column-flex-container {
  max-width: var(--body-width);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  /* padding-bottom: 5%; */
}
.two-column-flex-container > .column-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.two-column-flex-container > .column-right {
  width: 30%;
  display: flex;
}
/* refactor for login and sign up pages */

/* ------------- grid container ------------- */
.recent-articles > h2,
.most-shared-post > h2,
#overlay-pop-up-heading {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(75, 38, 245, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.recent-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
}

.cards-container,
#overlay-pop-up {
  grid-column: 2 / span 12;
  /* grid-column: 2 / span 18; */
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 3.75rem));
  /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
  grid-gap: 2.5rem;
}

.grid-card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.grid-card:hover {
  transform: translateY(-7px);
}

.card--image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card--image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 10px;
}

.card-title {
  color: var(--text-green);
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.card-author {
  /* line-height: 1.25rem; */
  color: var(--text-green);
}
.text--grid-card {
  margin-left: auto;
}
/* Dropdown Button */
.dropbtn {
  font-size: var(--h6-size);
  background-color: var(--green-1);
  color: white;
  padding: 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1rem 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--body-color-white);
  width: 100%;
  z-index: 1;
}
.dropdown-content a {
  font-size: var(--h6-size);
  color: var(--text-green);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--blue-1);
  color: var(--body-color-white);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: var(--purple-1);
}

/* -------------Media quarries------------- */
@media only screen and (max-width: 880px) {
  .cards-container {
    grid-column: 2 / span 12;
    /* grid-column: 2 / span 18; */
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 3.75rem));
    /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
    grid-gap: 2.5rem;
  }
}
@media only screen and (max-width: 680px) {
  .two-column-flex-container > .column-right {
    width: 100%;
    display: flex;
  }
  .cards-container {
    grid-column: 2 / span 12;
    /* grid-column: 2 / span 18; */
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 3.75rem));
    /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
    grid-gap: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .cards-container {
    grid-column: 2 / span 12;
    /* grid-column: 2 / span 18; */
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 3.75rem));
    /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
    grid-gap: 3.5rem;
  }
}
