/* -------------two column flex layout ------------- */

.two-column-flex-container {
  max-width: var(--body-width);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  /* padding-bottom: 5%; */
}
.two-column-flex-container > .column-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.two-column-flex-container > .column-right {
  width: 30%;
  display: flex;
}

/* ------------- grid container ------------- */
.recent-articles > h2,
.most-shared-post > h2,
#overlay-pop-up-heading {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(75, 38, 245, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.recent-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
}

.cards-container,
#overlay-pop-up {
  grid-column: 2 / span 12;
  /* grid-column: 2 / span 18; */
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 3.75rem));
  /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
  grid-gap: 2.5rem;
}

.grid-card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.grid-card:hover {
  transform: translateY(-7px);
}

.card--image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card--image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 10px;
}

.card-title {
  color: var(--text-green);
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.card-author {
  /* line-height: 1.25rem; */
  color: var(--text-green);
}
.text--grid-card {
  margin-left: auto;
}
/* Dropdown Button */
.dropbtn {
  font-size: var(--h6-size);
  background-color: var(--green-1);
  color: white;
  padding: 1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1rem 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--green-1);
  width: 100%;
  z-index: 1;
}
.dropdown-content a {
  font-size: var(--h6-size);
  color: var(--text-white);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--blue-1);
  color: var(--body-color-white);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: var(--purple-1);
}
/*  ----------- pop up overlay for search----------- */
#search-overlay {
  position: absolute;
  display: none;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  cursor: pointer;
  /* display: flex; */
}
#close-search-overlay {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem;
  cursor: pointer;
}
#overlay-pop-up-heading {
  padding: 6rem 2rem 4rem 2rem;
}
#overlay-pop-up {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
#two-column-flex_homepage {
  margin: 0 0 6rem 0;
}
#search-input {
  height: 2rem;
  border: none;
  margin: 0 auto;
  margin: 0;
  padding: 0;
}
input[type='search'],
#search-input {
  width: 10rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--text-white);
  color: var(--body-color-dark);
  font-family: var(--body-font);
  font-size: 1.25rem;
}
#search-btn {
  background-color: var(--body-color-dark);
  border: none;
  color: var(--text-white);
  border-radius: var(--standard-border-radius);
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
}

/* free to use spiners from */
/* https://css-loaders.com/flipping/ */
.loader {
  width: 80px;
  margin: auto;
  aspect-ratio: 1;
  display: grid;
  grid: 50%/50%;
  color: #25b09b;
  --_g: no-repeat linear-gradient(currentColor 0 0);
  background: var(--_g), var(--_g), var(--_g);
  background-size: 50.1% 50.1%;
  animation: l6-0 1.5s infinite steps(1) alternate, l6-0-0 3s infinite steps(1);
}
.loader::before {
  content: '';
  background: currentColor;
  transform: perspective(150px) rotateY(0deg) rotateX(0deg);
  transform-origin: bottom right;
  animation: l6-1 1.5s infinite linear alternate;
}
@keyframes l6-0 {
  0% {
    background-position: 0 100%, 100% 100%, 100% 0;
  }
  33% {
    background-position: 100% 100%, 100% 100%, 100% 0;
  }
  66% {
    background-position: 100% 0, 100% 0, 100% 0;
  }
}
@keyframes l6-0-0 {
  0% {
    transform: scaleX(1) rotate(0deg);
  }
  50% {
    transform: scaleX(-1) rotate(-90deg);
  }
}
@keyframes l6-1 {
  16.5% {
    transform: perspective(150px) rotateX(-90deg) rotateY(0deg) rotateX(0deg);
    filter: grayscale(0.8);
  }
  33% {
    transform: perspective(150px) rotateX(-180deg) rotateY(0deg) rotateX(0deg);
  }
  66% {
    transform: perspective(150px) rotateX(-180deg) rotateY(-180deg)
      rotateX(0deg);
  }
  100% {
    transform: perspective(150px) rotateX(-180deg) rotateY(-180deg)
      rotateX(-180deg);
    filter: grayscale(0.8);
  }
}
/* -------------Media quarries------------- */
@media only screen and (max-width: 880px) {
  .cards-container,
  #overlay-pop-up {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 3.75rem));
    grid-gap: 2.5rem;
  }
}
@media only screen and (max-width: 680px) {
  .two-column-flex-container > .column-right {
    width: 100%;
    display: flex;
  }
  .cards-container {
    grid-column: 2 / span 12;
    /* grid-column: 2 / span 18; */
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 3.75rem));
    /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
    grid-gap: 3rem;
  }
  #overlay-pop-up-heading {
    font-size: var(--h3-size);
  }
}
@media only screen and (max-width: 500px) {
  .cards-container,
  #overlay-pop-up {
    grid-column: 2 / span 12;
    /* grid-column: 2 / span 18; */
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 3.75rem));
    /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
    grid-gap: 3.5rem;
  }
}
