/* -------------two column flex layout ------------- */
.two-column-flex-container {
  max-width: var(--body-width);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  padding-bottom: 5%;
}
.two-column-flex-container > .column-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.two-column-flex-container > .column-right {
  width: 30%;
  display: flex;
}
/* refactor for login and sign up pages */
.two-column-flex-container > .column-right-50 {
  width: 50%;
  display: flex;
}
