/* -------------hero section ------------- */
/* -------------two column flex layout ------------- */
/* hero block */
.hero-container {
  background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  width: 100%;
  min-height: 70vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  position: relative;
}
.overlay-on-hero {
  max-width: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4rem;
  color: var(--text-green);
  position: absolute;
  bottom: -40%;
  right: 3rem;
  font-size: var(--h1-size);
}
.overlay-on-hero p {
  padding-bottom: 1rem;
  font-size: var(--h5-size);
}
.overlay-on-hero h1 {
  padding-bottom: 2rem;
}
/* -------------trending now section ------------- */
.hero-cards-container {
  grid-column: 2 / span 8;
  display: grid;
  grid-template-columns: repeat(8, minmax(auto, 3.75rem));
  grid-gap: 10px;
  margin: 1rem;
}

.hero-grid-card {
  grid-column-end: span 8;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hero-grid-card > img {
  object-fit: contain;
}
.hero-cards-container h2 {
  display: inline;
  text-align: start;
}
.h2-green-gradient,
.carousel-heading {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-image {
  width: 100%;
  position: relative;
}

/* -------------sign up section ------------- */
.sign-up-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* max-width: 70%; */
  margin-top: 8rem;
}
.sign-up-section img {
  max-width: 90%;
}

.sign-up-section h3,
button {
  margin-bottom: 2rem;
}
.sign-up-section button {
  margin-bottom: 2rem;
}

/* ------------- carousel with 3 sliders section ------------- */
.carousel-section {
  padding: 6rem 2rem 2rem 2rem;
}
.slider {
  max-width: 100rem;
  /* max-width: 1520; */
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  /* position: relative; */
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
/* fix me  */
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-title {
  position: absolute;
  top: 65%;
  left: 20%;
  right: 20%;
  text-align: center;
  padding-bottom: 2rem;
  z-index: 1;
  padding: 1rem 1rem 1rem 1rem;
  background: rgba(44, 33, 33, 0.65);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  border-radius: var(--standard-border-radius);
}
.slider-title:hover {
  text-decoration: underline;
  /* background: linear-gradient(
    0deg,
    rgba(64, 209, 13, 1) 10%,
    rgba(44, 33, 33, 0.65) 20%,
    rgba(64, 209, 13, 1) 90%
  ); */
  background: rgba(44, 33, 33, 1);
  border: 2px solid var(--text-green);
  text-shadow: -1px 2px 0 #000, 1px 1px 0 #000, 1px -2px 0 #000,
    -4px -1px 0 #000;
  /* border-radius: var(--standard-border-radius); */
}
.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  color: var(--text-dark);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
}
.slider-btn-left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider-btn-right {
  right: 6%;
  transform: translate(50%, -50%);
}
.carousel-heading {
  text-align: center;
}
.slider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: -20rem; */
}
.carousel-heading {
  margin: 2rem;
}
.card-author {
  padding-top: 1rem;
  font-size: clamp(1rem, 2.5vw, 2rem);
}
/* Need to work on the dots */
/* position of article title and color */
.dots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex; */
  z-index: 1;
}
.dots__dot {
  border: 1px solid var(--text-green);
  background: rgba(255, 255, 255, 0.7);
  opacity: 0.8;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  z-index: 1;
}
.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* ------------- Recent articles section ------------- */
.recent-articles > h2 {
  margin: 2rem 2rem 3rem 2rem;
}
.recent-articles {
  padding-top: var(--spacing-lg);
}
/* ------------- grid container ------------- */

/*-------------------- newsletter section --------------------*/
.newsletter-section {
  margin: 0 auto;
  width: 80%;
  padding: 6rem 2rem;
}
.newsletter-container {
  background-color: var(--purple-1);
  padding: 4rem 2rem;
  max-width: 100%;
  border-radius: var(--standard-border-radius);
  display: flex;
  justify-content: space-between;
}
input[type='email'] {
  width: 14rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--text-white);
  color: var(--body-color-dark);
  font-family: var(--body-font);
  font-size: 1.25rem;
}
.cards-container {
  /* grid-column: 2 / span 8; */
  /* grid-column: 2 / span 18; */
  /* display: grid; */
  grid-template-columns: repeat(8, minmax(auto, 3.75rem));
  /* grid-template-columns: repeat(18, minmax(auto, 3.75rem)); */
  /* grid-gap: 2.5rem; */
}

/* -------------Media quarries------------- */
@media only screen and (max-width: 1480px) {
  .overlay-on-hero {
    max-width: 45%;
    bottom: -10%;
  }
  .sign-up-section {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .column-left {
    max-width: 60%;
  }
  /* ----------------- Hero section----------------- */
  .grid-card {
    grid-column-end: span 6;
  }

  /* ----------------- carousel ---------------- */
  .slider {
    height: 40rem;
  }
  .slide {
    height: 40rem;
  }
  /* most recent section */
  .recent-articles > h2 {
    padding-top: 0;
  }
  /* Recent articles section */
  .recent-articles > h2 {
    margin: 0 2rem 3rem 2rem;
  }
  .recent-articles {
    padding-top: var(--spacing-sm);
  }

  /* newsletter section */
  .newsletter-container {
    padding: 2rem 2rem;
  }
  .newsletter-container h2 {
    font-size: 1.75rem;
    justify-content: center;
    align-self: center;
  }
  input[type='email'] {
    width: 8rem;
    height: 1.1rem;
    padding: 0.5rem;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--text-white);
    color: var(--body-color-dark);
    font-family: var(--body-font);
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 800px) {
  /* hero */
  .overlay-on-hero {
    padding: 2rem;
    width: 50%;
  }
  .overlay-on-hero h1 {
    font-size: 2.5rem;
  }
  /* ----------------- grid ----------------- */
  .cards-container {
    grid-gap: 20px;
  }
  .grid-card {
    grid-column-end: span 12;
  }
  .slider-title {
    top: 56%;
  }
  .slider-btn {
    height: 3.5rem;
    width: 3.5rem;
  }
  .slide {
    max-width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  /* hero */
  #two-column-flex_homepage {
    display: flex;
    flex-direction: column;
  }

  .overlay-on-hero {
    max-width: 100%;
    padding: 4rem;
    color: var(--text-green);
    position: absolute;
    bottom: 5%;
    right: -35%;
  }
  .hero-cards-container {
    padding-top: 4rem;
  }
  .sign-up-section h3 {
    padding-top: 2rem;
  }
  .sign-up-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-up-section button {
    margin: 0 0 0 0;
  }

  .slider-title {
    right: 5%;
    left: 5%;
  }

  .slider-title h2 {
    font-size: 1.5rem;
  }
  .carousel-section {
    padding: 0 2rem;
  }
  .carousel-heading {
    margin-bottom: -2rem;
  }
  .recent-articles {
    margin-top: -2rem;
  }
  .slider-title {
    top: 60%;
    left: 15%;
    right: 15%;
  }
}
@media only screen and (max-width: 500px) {
  /* ----------------- grid ----------------- */
  .cards-container {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .grid-card {
    grid-column-end: span 6;
  }
  .slider-title h2 {
    font-size: 1.1rem;
  }
  .carousel-heading {
    margin-bottom: -10rem;
  }
  /* .recent-articles {
    margin-top: -40px;
    padding-top: -20rem;
  } */
  .newsletter-container {
    flex-direction: column;
  }
}
