main {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

/* -------------hero section ------------- */
/* -------------two column flex layout ------------- */
.two-column-flex-container {
  max-width: var(--body-width);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two-column-flex-container > .column-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.two-column-flex-container > .column-right {
  width: 30%;
  display: flex;
}
/* -------------trending now section ------------- */
.hero-cards-container {
  grid-column: 2 / span 8;
  display: grid;
  grid-template-columns: repeat(8, minmax(auto, 3.75rem));
  grid-gap: 10px;
  margin: 1rem;
}

.hero-grid-card {
  grid-column-end: span 8;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* for bigger screen sizes */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  border: 5px solid red;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hero-grid-card > img {
  object-fit: contain;
}
.hero-cards-container h2 {
  display: inline;
  text-align: start;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem;
}

.hero-image {
  width: 100%;
  position: relative;
}

/* ------------- Recent articles section ------------- */
.recent-articles > h2 {
  text-align: center;
  margin: 4rem;
  background: linear-gradient(
    90deg,
    rgba(75, 38, 245, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: var(--spacing-xl);
}
.recent-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
}

.text--grid-card {
  line-height: 1.25rem;
  color: var(--text-green);
}

.cards-container {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 3.75rem));
  grid-gap: 2.5rem;
}

.grid-card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.grid-card:hover {
  transform: translateY(-7px);
}

.card--image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card--image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* align-self: center; */
  /* align-items: center; */
}

.card-time {
  margin-left: auto;
  padding: 5px 20px;
}

/* media quarries */

@media only screen and (max-width: 1000px) {
  .grid-card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 800px) {
  .cards-container {
    grid-gap: 20px;
  }
  .grid-card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  .cards-container {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .grid-card {
    grid-column-end: span 6;
  }
}
