main {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}
.hero--index {
  /* padding: 0, 4rem; */
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
  position: relative;
}
.cards > h2 {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(64,209,13,1) 100%) */
  margin: 2rem;
}
.hero-image {
  width: 100%;
  position: relative;
}

/* trending news section */
/* trending news section */

.sign-up-div-container {
  padding-top: 6rem;
}

/* sign up link */
.sign-up-div-container {
  position: absolute;
  max-width: 70%;
  top: 50%;
  /* right: 0px; */
}
.sign-up-link {
  color: var(--text-green);
  margin: 2rem;
  text-align: end;
  padding-right: 2rem;
}

.carousel-element {
  margin-top: 8rem;
  align-self: center;
}

/* section recent-articles */
.recent-articles > h2 {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(75, 38, 245, 1) 0%,
    rgba(64, 209, 13, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: var(--spacing-xl);
}
.recent-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
/* trending news section */
.cards-container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--grid-card {
  line-height: 1.25rem;
  color: var(--text-green);
}

.cards-container {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 3.75rem));
  grid-gap: 40px;
}

.grid-card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  /* background-color: #39393b; */
  border: 5px solid red;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.grid-card:hover {
  transform: translateY(-7px);
}

.card--image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card--image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* align-self: center; */
  /* align-items: center; */
}

.card-time {
  margin-left: auto;
  padding: 5px 20px;
  /* background-color: #303032;
  border-radius: 20px; */
}

/* media quarries */
@media only screen and (max-width: 1000px) {
  .grid-card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 800px) {
  .cards-container {
    grid-gap: 20px;
  }
  .grid-card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  .cards-container {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards-container {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .grid-card {
    grid-column-end: span 6;
  }
}
